{% extends "index.html" %}
{% block content %}
<main>
  <div class="container" style="padding-top:5px;">
    <div class="row">
      <div class="col s3">
        {% if coinInfo[stats.symbol] is defined %}
        <img  src="https://www.cryptocompare.com{{coinInfo[stats.symbol].ImageUrl}}" class="responsive-img">
        {% else %}
        <h4 style="text-align:center">No Picture Available</h4>
        {% endif %}
        <h3 class="light-blue-text center-align">{{stats["name"]}}</h3>
      </div>
      <div class="col s9">
        <div class="row">
          <div class="col s6">
            <ul class="collection">
              <li class="collection-item"> <span> <h6 class="left-align light-blue-text"> Available Supply: </h6> <h6 class="center-align"> {{stats.available_supply}} </h6> </span></li>
              <li class="collection-item"> <span> <h6 class="left-align light-blue-text"> Max Supply: </h6> <h6 class="center-align"> {{stats.max_supply}} </h6> </span></li>
              <li class="collection-item"> <span> <h6 class="left-align light-blue-text"> Total Supply: </h6> <h6 class="center-align"> {{stats.total_supply}} </h6> </span></li>

            </ul>
          </div>
          <div class="col s6">
            <ul class="collection">
              <li class="collection-item"> <span> <h6 class="left-align light-blue-text"> Percent Change 1h: </h6> <h6 class="center-align"> {{stats.percent_change_1h}} </h6> </span></li>
              <li class="collection-item"> <span> <h6 class="left-align light-blue-text"> Percent Change 24h: </h6> <h6 class="center-align"> {{stats.percent_change_24h}} </h6> </span></li>
              <li class="collection-item"> <span> <h6 class="left-align light-blue-text">  Percent Change 7D: </h6> <h6 class="center-align"> {{stats.percent_change_7d}}  </h6> </span> </li>
            </ul>
          </div>
        </div>
        <ul class="tabs">
          <div class="indicator light-blue"></div>
          <li class="tab col s2"><a href="#USD"><span class="light-blue-text">USD</span></a></li>
          <li class="tab col s2 "><a href="#BTC"> <span class="light-blue-text">BTC </span> </a></li>
        </ul>
        <!-- Table of Info: -->
        <!-- Price, Volume, Market Cap, Vol/MCap circulating -->
        <div class="" id="USD">
          <table>
            <thead>
              <tr>
                <th>Price(USD)</th>
                <th>Market Cap(USD)</th>
                <th>24h Volume(USD)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{stats.price_usd}}</td>
                <td>{{stats.market_cap_usd}}</td>
                <td>{{stats["24h_volume_usd"]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="" id="BTC">
          <table>
            <thead>
              <tr>
                <th>Price: (BTC)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{stats.price_btc}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center-align">
        <p>table</p>
      </div>
    </div>
  </div>
</main>
{%endblock%}
