{% extends "index.html" %} {% block content %}
<main>
  <div class="container">
    {% for itemRow in currencies | batch(5) %}
    <div class="row">
      {% for item in itemRow %} {% if loop.index == 1%}
      <div class="col s2 offset-s1">
        <div class="card">
          <div class="card-image">
            <span>
                <a href="{{ url_for('currency',id=item.id)}}">
                {% if coinInfo[item["symbol"]] is defined %}
                 <img src="https://www.cryptocompare.com{{coinInfo[item.symbol].ImageUrl}}" alt="">
                {% else %}
                <i class="material-icons large center">broken_image</i>
                {% endif %}
                </a>
            </span>
            {% if current_user.is_anonymous %}
            <a href="{{url_for('login')}}" class="btn-floating halfway-fab waves-effect waves-light light-blue"><i class="material-icons">add</i></a>
            {% else %}
            <a class="btn-floating halfway-fab waves-effect waves-light light-blue modal-trigger" href="#" onclick="modalCurrency('{{item['id']}}','#modal{{item['id']}}');"><i class="material-icons">add</i></a>
            {% endif %}
            <div id="modal{{item['id']}}" class="modal">
              <div class="modal-content">
                <h4 class="center-align">Add Currency: {{item['name']}}</h4>
                <h5>Current Price: ${{item['price_usd']}}</h5>
                <form onsubmit="addCurrency('{{item['id']}}','#modal{{item['id']}}','{{item['symbol']}}');">
                  <div class="input-field">
                    <i class="material-icons prefix light-blue-text">attach_money</i>
                    <input id="money" type="text">
                    <label class="light-blue-text" for="icon_prefix">Currency Amount:</label>
                  </div>
                  <button class="btn waves-effect waves-light light-blue" type="submit" name="action" >Submit
                    <i class="material-icons right light-blue">send</i>
                  </button>
                </form>
              </div>
            </div>

          </div>
          <div class="card-content">
            <span class="card-title"><a href="{{ url_for('currency', id=item.id) }}" class="nostyle">{{item["name"]}} </a></span>
            <p>Current Price: {{item["price_usd"]}} USD</p>
          </div>
        </div>
      </div>
      {% else %}
      <div class="col s2">
        <div class="card">
          <div class="card-image">
            <span>
                <a href="{{ url_for('currency',id=item.id)}}">
                {% if coinInfo[item["symbol"]] is defined %}
                 <img src="https://www.cryptocompare.com{{coinInfo[item.symbol].ImageUrl}}" alt="">
                {% else %}
                <i class="material-icons large center">broken_image</i>
                {% endif %}
                 </a></span>
            {% if current_user.is_anonymous %}
            <a href="{{url_for('login')}}" class="btn-floating halfway-fab waves-effect waves-light light-blue"><i class="material-icons">add</i></a>
            {% else %}
            <a class="btn-floating halfway-fab waves-effect waves-light light-blue modal-trigger" href="#" onclick="modalCurrency('{{item['id']}}','#modal{{item['id']}}');"><i class="material-icons">add</i></a>
             {% endif %}
             <div id="modal{{item['id']}}" class="modal">
               <div class="modal-content">
                 <h4 class="center-align">Add Currency: {{item['name']}}</h4>
                 <h5>Current Price: ${{item['price_usd']}}</h5>
                 <form onsubmit="addCurrency('{{item['id']}}','#modal{{item['id']}}','{{item['symbol']}}');">
                   <div class="input-field">
                     <i class="material-icons prefix light-blue-text">attach_money</i>
                     <input id="money" type="text">
                     <label for="icon_prefix light-blue-text">Currency Amount:</label>
                   </div>
                   <button class="btn waves-effect waves-light light-blue" type="submit" name="action" >Submit
                     <i class="material-icons right light-blue">send</i>
                   </button>
                 </form>
               </div>
             </div>
           </div>
          <div class="card-content">
            <span class="card-title"><a href="{{ url_for('currency',id=item.id) }}" class="nostyle">{{item["name"]}} </a></span>
            <p>Current Price: {{item["price_usd"]}} USD</p>

          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
    {% endfor %}

    <div class="row">
      <ul class="pagination">
        {% if prevURL %}
        <li class="waves-effect"><a href="{{prevURL}}"><i class="material-icons">chevron_left</i></a></li>
        {%endif%}
        <li class="waves-effect"><a href="{{nextURL}}"><i class="material-icons">chevron_right</i></a></li>
      </ul>
    </div>
  </div>
</main>
{% endblock %}
