{% extends "index.html" %} {% block content %}
<main>
  <div class="container">
    <!-- TODO: Templating with several currencys. -->
    {% for itemRow in currencies | batch(5) %}
      <div class="row">
        {% for item in itemRow %}
        {% if loop.index == 1%}
        <div class="col s2 offset-s1">
          <div class="card">
            <div class="card-image">
              <span>
                <a href="{{ url_for('currency',name=item["symbol"])}}">
                {% if coinInfo[item["symbol"]] is defined %}
                 <img src="https://www.cryptocompare.com{{coinInfo[item["symbol"]].ImageUrl}}" alt="">
                {% else %}
                <h4>No Picture Available</h4>
                {% endif %}
                 </a></span>
              <a class="btn-floating halfway-fab waves-effect waves-light light-blue"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <span class="card-title"><a href="{{ url_for('currency',name=item["symbol"]) }}" class="nostyle">{{item["name"]}} </a></span>
              <p>Current Price: {{item["price_usd"]}} USD</p>
            </div>
          </div>
        </div>
        {% else %}
        <div class="col s2">
          <div class="card">
            <div class="card-image">
              <span>
                <a href="{{ url_for('currency',name=item["symbol"])}}">
                {% if coinInfo[item["symbol"]] is defined %}
                 <img src="https://www.cryptocompare.com{{coinInfo[item["symbol"]].ImageUrl}}" alt="">
                {% else %}
                <h4>No Picture Available</h4>
                {% endif %}
                 </a></span>
              <a class="btn-floating halfway-fab waves-effect waves-light light-blue"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <span class="card-title"><a href="{{ url_for('currency',name=item["symbol"]) }}" class="nostyle">{{item["name"]}} </a></span>
              <p>Current Price: {{item["price_usd"]}} USD</p>

            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    {% endfor %}

    <div class="row">
      <!-- TODO: Pagination  -->
      <ul class="pagination">
        {% if prevURL %}
        <li class="waves-effect"><a href="{{prevURL}}"><i class="material-icons">chevron_left</i></a></li>
        {%endif%}
        <li class="waves-effect"><a href="{{nextURL}}"><i class="material-icons">chevron_right</i></a></li>
      </ul>
    </div>

  </div>

</main>
{% endblock %}
