{% extends "index.html" %} {% block content %}
<main>
  <div class="container">
    <!-- TODO: Templating with several currencys. -->
    <div class="row">
      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <span><a href="/currency"><img src="https://bitcoin.org/img/icons/opengraph.png"></a></span>
            <a class="btn-floating halfway-fab waves-effect waves-light light-blue"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <span class="card-title"><a href="/currency" class="nostyle">BitCoin</a></span>
            <p>Price: $11,426.06</p>
            <p>Market Cap: $192,815,470,916</p>
            <p>24 Hour Change: 8.31%</p>          </div>
        </div>
      </div>
      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="https://cdn.coinranking.com/rk4RKHOuW/eth.svg">
            <a class="btn-floating halfway-fab waves-effect waves-light light-blue"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <span class="card-title">Ethereum</span>
            <p>Price: $11,426.06</p>
            <p>Market Cap: $192,815,470,916</p>
            <p>24 Hour Change: 8.31%</p>

          </div>
        </div>
      </div>
      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="https://cdn.coinranking.com/Bkuz9Hd_-/xrp.svg">
            <a class="btn-floating halfway-fab waves-effect waves-light light-blue"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <span class="card-title">CryptoCurrency</span>
            <p>Price: $11,426.06</p>
            <p>Market Cap: $192,815,470,916</p>
            <p>24 Hour Change: 8.31%</p>          </div>
        </div>
      </div>
      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="https://cdn.coinranking.com/HyZL5BOOb/ltc.svg">
            <a class="btn-floating halfway-fab waves-effect waves-light light-blue"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <span class="card-title">CryptoCurrency</span>
            <p>Price: $11,426.06</p>
            <p>Market Cap: $192,815,470,916</p>
            <p>24 Hour Change: 8.31%</p>          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="https://cdn.coinranking.com/rk4RKHOuW/eth.svg">
            <a class="btn-floating halfway-fab waves-effect waves-light light-blue"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <span class="card-title">Ethereum</span>
            <p>Price: $11,426.06</p>
            <p>Market Cap: $192,815,470,916</p>
            <p>24 Hour Change: 8.31%</p>
          </div>
        </div>
      </div>
      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="https://bitcoin.org/img/icons/opengraph.png">
            <a class="btn-floating halfway-fab waves-effect waves-light light-blue"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <span class="card-title">CryptoCurrency</span>
            <p>Price: $11,426.06</p>
            <p>Market Cap: $192,815,470,916</p>
            <p>24 Hour Change: 8.31%</p>          </div>
        </div>
      </div>
      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="https://cdn.coinranking.com/HyZL5BOOb/ltc.svg">
            <a class="btn-floating halfway-fab waves-effect waves-light light-blue"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <span class="card-title">CryptoCurrency</span>
            <p>Price: $11,426.06</p>
            <p>Market Cap: $192,815,470,916</p>
            <p>24 Hour Change: 8.31%</p>          </div>
        </div>
      </div>
      <div class="col s3">
        <div class="card ">
          <div class="card-image">
            <img src="https://cdn.coinranking.com/Bkuz9Hd_-/xrp.svg">
            <a class="btn-floating halfway-fab waves-effect waves-light light-blue"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <span class="card-title">CryptoCurrency</span>
            <p>Price: $11,426.06</p>
            <p>Market Cap: $192,815,470,916</p>
            <p>24 Hour Change: 8.31%</p>          </div>
        </div>
      </div>
    </div>
    <!-- TODO: Pagination -->
  </div>
</main>
{% endblock %}
