<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset "utf-8">
  <title>CryptoCurrency Viewer</title>

  <!-- Personal CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/materialize.min.css') }}" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Programming Icons -->
  <link rel="stylesheet " href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css ">



</head>

<body class="white">
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="static/js/materialize.min.js"></script>
  <!-- Personal JS -->
  <script type="text/javascript " src="static/js/main.js"></script>

  <nav class="light-blue lighten-2">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">CryptoCurrency Viewer</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/users"><i class="material-icons">account_circle</i></a></li>
        <li><a href="/resources"> <i class="material-icons">business_center</i> </a></li>
      </ul>
      <!-- TODO: Figure out login validation -->
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/login"> Login or Logout </a></li>
      </ul>
    </div>
  </nav>

  {% block content %} {% endblock %}
</body>
<footer class="page-footer light-blue lighten-2">
  <div class="container">
    <div class="row">
      <div class="col s8">
        <p>Created by: </p>
        <p>Created with: </p>
      </div>
      <div class="col s4 center">
        <a class="waves-effect waves-light btn-large transparent " href="https://github.com/robeartoe/CS362-CryptoCurrencyViewer"><i class="devicon-github-plain"></i> <span class=""> Go to Repo</span> </a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      This software is available under the MIT license
    </div>

  </div>
</footer>

</html>
