{% extends "index.html" %}
{% block content %}

<main>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <section class="center">
          <span class="light-blue-text lighten-2"><h4>Add and view your currencies, and monitor your wallet</h4></span>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col s12 ">
        <span class="light-blue-text lighten-2"> <h3>Login:</h3> </span>
        <div class="card-panel hoverable">
          <!-- TODO: Post Login -->
          <form class="" action="login.html" method="post">
            {{LoginForm.hidden_tag() }}
            <!-- Save this spot for the form security -->
            <div class="input-field">
              <!-- <label for="username">Username:</label> -->
              <!-- <input type="text" name="username" id="username"> -->
              {{LoginForm.username.label}}
              {{LoginForm.username}}
            </div>

            <div class="input-field">
              <!-- <label for="password">Password:</label> -->
              <!-- <input type="password" name="password" class="validate"> -->
              {{LoginForm.password.label}}
              {{LoginForm.password}}
            </div>
            <p>
              {{ LoginForm.remember_me(class_="filled-in") }} {{LoginForm.remember_me.label}}
            </p>

            <div class="input-field">
              <a href="/login" class="modal-action"><button class="btn waves-effect waves-light light-blue lighten-2" type="submit" name="signup">Submit<i class="material-icons right">send</i></button></a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <span class="light-blue-text lighten-2"><h5>Don't have an account?</h5> </span>
        <a class="waves-effect waves-light btn-large light-blue lighten-2 modal-trigger" href="#modal1"><i class="material-icons left">person_add</i>Sign Up!</a>
        <div id="modal1" class="modal">
          <div class="modal-content light-blue lighten-2">
            <h3 class="white-text">Sign Up</h3>
            <div class="divider"></div>
            <div class="card-panel center">
              <!-- TODO: Post Signup -->
              <form class="" action="signup" method="post">
                {{RegistrationForm.hidden_tag()}}
                <div class="input-field">
                  {{RegistrationForm.username.label}}
                  {{RegistrationForm.username}}

                </div>
                <div class="input-field">

                  {{RegistrationForm.password.label}}
                  {{RegistrationForm.password}}
                </div>

                <!-- <div class="input-field">
                  <label for="confirmPassword">Confirm Password:</label><input type="password" name="confirmPassword" class="validate">
                </div>
                -->
                <div class="modal-footer white">
                  <button class="btn waves-effect waves-light light-blue lighten-2" type="submit" name="signup">Submit<i class="material-icons right">send</i></button></a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
</main>

{% endblock %}
