{% extends "index.html" %}
{% block content %}
<!-- TODO: Look up resources -->
  <main>
    <div class="container">
      <!-- Articles: -->
      <div class="row">
        <ul class="collection with-header">
          <li class="collection-header"><h4>Articles:</h4></li>
          <li>
            <a class="collection-item" href="https://steemit.com/cryptocurrency/@oregongreen/cryptocurrency-resources-for-buying-selling-trading-and-mining">Resources for Buying Selling Trading and Mining</a>
          </li>
        </ul>
      </div>
      <!-- Tools: -->
      <div class="row">
        <ul class="collection with-header">
          <li class="collection-header"><h4>Tools:</h4></li>
          <li>
            <a class="collection-item" href="https://www.tradingview.com/">A Tool for charting</a>
          </li>
        </ul>
      </div>

      <!-- ICOS: -->
      <div class="row">
        <ul class="collection with-header">
          <li class="collection-header"><h4>ICOS:</h4></li>
        </ul>
      </div>

      <!-- Info on Mining: -->
      <div class="row">
        <ul class="collection with-header">
          <li class="collection-header"><h4>Mining:</h4></li>
        </ul>
      </div>
    </div>
  </main>
{% endblock %}
